@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}

.main {
  height: 480px;
  width: 900px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px;
}
/* 
.img, .title, .content, .button {
  border: 1px solid #000;
} */

.img {

}

.nested-item {
  margin-bottom: 30px;
}

.title {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: hsl(0, 0%, 95%);  
  text-transform: uppercase;
}

.content {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.item {

}

button {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  border: none;
  font-weight: bold;
  padding: 15px 2rem;
  border-radius: 2rem;
  background-color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}

button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}

.orange {
  background-color: hsl(31, 77%, 52%);
}

.dark-cyan {
  background-color: hsl(184, 100%, 22%);
}

.very-dark-cyan {
  background-color: hsl(179, 100%, 13%)
}

.orange-font {
  color: hsl(31, 77%, 52%);
}

.dark-cyan-font {
  color: hsl(184, 100%, 22%);
}

.very-dark-cyan-font {
  color: hsl(179, 100%, 13%)
}

@media (max-width: 500px) {
  body {
    align-items: flex-start;
  }


  .main {
    height: 1440px;
    width: 300px;
    flex-direction: column;
    margin: 2em;
  }
}